/* main.css */

* { /* Very basic browser default style reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Flex container (does not ned to be body! Just used in this example) */
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Flex items */
.flex-item {
    display: block;
    width: 100%;
    height: 460px;
}

.item-1 {
    background: rgba(#5d8aa8);
}
.item-2 {
    background: rgba(#ffbf00);
}
.item-3 {
    background: rgba(#e32363);
}
.item-4 {
    background: rgba(#a4c639);
}
.item-5 {
    background: rgba(#cd9575);
}
.item-6 {
    background: rgba(#87a96b);
}
